In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [7]:
input_tag=driver.find_element(By.XPATH,'//input[@id="id_q"]')
input_tag.send_keys('Data Analyst')

location_tag=driver.find_element(By.XPATH,'//input[@id="id_loc"]')
location_tag.send_keys('Bangalore')

Search_button=driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
Search_button.click()

In [8]:
Job_Name=[]
Company_Name=[]
Exception=[]

Company_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in Company_tag[0:10]:
    Company_Name.append(i.text)
print(len(Company_Name))

10

In [9]:
Exception_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Exception_tag[0:10]:
    Exception.append(i.text)
    
print(len(Exception))

10

In [10]:
Job_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in Job_tag[0:10]:
    Job_Name.append(i.text)
    
print(len(Job_Name))

10

In [11]:
df=pd.DataFrame({'Job_Name':Job_Name,'Company_Name':Company_Name,'Exception':Exception})
df

,Job_Name,Company_Name,Exception
0,Computer Systems Analyst,v-tech data outsourcing,0 to 2 Yrs
1,System Administration Analyst,ntt data information processing ser...,3 to 6 Yrs
2,Data Management Analyst,v-tech data outsourcing,0 to 2 Yrs
3,CIB - Chief Data Office Business Analyst - Ass...,jpmorgan chase & co.,10 to 12 Yrs
4,Data Analyst - Products,medtronic,1 to 3 Yrs
5,Opening for WFH(data typing work),v-tech data outsourcing,0 to 2 Yrs
6,New Part Time work for Data Entry & Page typin...,v-tech data outsourcing,0 to 2 Yrs
7,Computer Systems Analyst,v-tech data outsourcing,0 to 2 Yrs
8,Data Analyst Vacancy,divya interprises,0 to 4 Yrs
9,Data Analyst Vacancy,divya interprises,0 to 4 Yrs