In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [8]:
driver=webdriver.Chrome()

driver.get('https://www.shine.com/')

In [9]:
cross_button=driver.find_element(By.XPATH,'//button[@class="btn-close "]')
cross_button.click()

In [10]:
Title_tag=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input').send_keys('Data Analyst')

In [11]:
Location_tag=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input').send_keys('Delhi')

In [12]:
Search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
Search.click()

In [13]:
salary_Button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button/i')
salary_Button.click()

In [14]:
check_Button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
check_Button.click()

In [15]:
Show_Result=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
Show_Result.click()

In [17]:
job_Title=[]
Company_Name=[]
Experience=[]

Job_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in Job_tag[0:10]:
    job_Title.append(i.text)
    
print(len(job_Title))

10

In [18]:
Company_Tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in Company_Tag[0:10]:
    Company_Name.append(i.text)
    
print(len(Company_Name))

10

In [19]:
Experience_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in Experience_tag[0:10]:
    Experience.append(i.text)
    
print(len(Experience))

10

In [20]:
df=pd.DataFrame({'job_Title':job_Title,'Company_Name':Company_Name,'Experience':Experience})
df

,job_Title,Company_Name,Experience
0,Clinical Data Analyst,techno endura,0 to 1 Yr
1,Hiring for MIS-Data Analyst-Gurgaon Location,asap staffing solutions,0 to 4 Yrs
2,Clinical Data Analyst,techno endura,0 to 1 Yr
3,Technical Data Analyst,krishna consultancy.. hiring for co...,4 to 9 Yrs
4,Data Modeler,v-tech data outsourcing,0 to 2 Yrs
5,Clinical Data Analyst,techno endura,0 to 1 Yr
6,Senior Data Analyst,harjai computers private limited,0 to 2 Yrs
7,Hiring For Data Analyst,harjai computers private limited,2 to 5 Yrs
8,Requirement For 'Business Data Analyst' For Noida,talent corner hr services pvt ltd,3 to 4 Yrs
9,Systems Integration Senior Analyst,ntt global delivery services limite...,3 to 5 Yrs