In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

input_tag=driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')
input_tag.send_keys('Sungless')

cross_button=driver.find_element(By.CLASS_NAME,'_30XB9F')
cross_button.click()

Search=driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
Search.click()

In [11]:
Brand_Name=[]
Discount=[]
Price=[]

start=0
end=3

for page in range(start,end):
    
    
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        Brand_Name.append(i.text)
        
    Price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tag:
        Price.append(i.text)
        
    discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in discount_tag:
        Discount.append(i.text)
        
        
        
    
        
 
        
    
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
    time.sleep(3)

In [12]:
print(len(Brand_Name),len(Discount),len(Price))

120 120 120

In [13]:
df=pd.DataFrame({'Brand_Name':Brand_Name,'Price':Price,'Discount':Discount})
df

        Brand_Name   Price Discount
0         Fastrack    ₹599  40% off
1         Fastrack    ₹549  50% off
2       iCopertina    ₹199  80% off
3             SRPM    ₹149  88% off
4          ROADWAY    ₹199  84% off
..             ...     ...      ...
115   Silver Kartz    ₹213  85% off
116    john jacobs  ₹1,999  66% off
117  VINCENT CHASE    ₹749  62% off
118        ROADWAY    ₹299  85% off
119  VINCENT CHASE    ₹819  67% off

[120 rows x 3 columns]