In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()

driver.get('https://www.flipkart.com/')

In [3]:
cross_Button=driver.find_element(By.XPATH,'/html/body/div[3]/div/span').click()

In [5]:
Search_bar=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
Search_bar.send_keys('sneakers')

In [8]:
click_Button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
click_Button.click()

In [18]:
Brand=[]
Product_Description=[]
Price=[]

start=0
end=3

for page in range(start,end):
    
    Brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    
    for i in Brand_tag[0:100]:
        Brand.append(i.text)
        
    Product_Description_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for i in  Product_Description_tag[0:100]:
        try:
            Product_Description.append(i.text)
        except:
            Product_Description='No Description'
            
    Price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tag[0:100]:
        Price.append(i.text)
        
        
    Next_Button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    Next_Button.click()
    time.sleep(2)

In [17]:
print(len(Brand),len(Product_Description),len(Price))

120 117 120

In [22]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})
df

               Brand   Price
0             BRUTON    ₹497
1               aadi    ₹315
2           URBANBOX    ₹299
3             Layasa    ₹299
4               aadi    ₹289
..               ...     ...
115         Nobelite    ₹318
116      New Balance  ₹6,239
117             PUMA    ₹999
118  U.S. POLO ASSN.  ₹1,247
119            Sparx    ₹619

[120 rows x 2 columns]